<!-- filepath: app/views/admin/categories/_form.html.erb -->
<!-- <%= form_with(model: [:admin, @category], local: true) do |form| %>
<div class="mb-3">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<div class="mb-3">
  <%= form.label :parent_id, "Parent Category" %>
  <%= form.collection_select :parent_id, Category.where.not(id: @category.id), :id, :full_path, prompt: "Root", class: "form-select" %>
</div>
<%= form.submit class: "btn btn-primary" %>
<% end %> -->

<div class="wg-box">
  <%= form_with(model: [:admin, @category], local: true, class:"form-new-product form-style-1") do |form| %>
    <fieldset class="name">
      <div class="body-title">Category name <span class="tf-color-1">*</span></div>
      <%= form.text_field :name, class: "flex-grow", placeholder: "Category name", required: true %>
    </fieldset>
    <fieldset class="category">
      <div class="body-title">Parent category</div>
      <div class="select flex-grow">
        <%= form.collection_select :parent_id, 
                                   Category.where.not(id: @category.id), 
                                   :id, 
                                   :full_path, 
                                   { prompt: "No parent" }, 
                                   class: "" %>
      </div>
    </fieldset>
    <div class="bot">
      <div></div>
      <button class="tf-button w208" type="submit">Save</button>
      <%= link_to "Back", admin_categories_path, class: "tf-button w208 back-button" %>
    </div>
  <% end %>
</div>