<div class="main-content-inner">
  <%= render 'layouts/flash' %>
  <!-- main-content-wrap -->
  <div class="main-content-wrap">
    <div class="flex items-center flex-wrap justify-between gap20 mb-30">
      <h3>All category</h3>
      <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
        <li>
          <a href="index.html">
            <div class="text-tiny">Dashboard</div>
          </a>
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">
            <div class="text-tiny">Categories</div>
          </a>
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <div class="text-tiny">All category</div>
        </li>
      </ul>
    </div>
    <!-- all-category -->
    <div class="wg-box">
      <div class="flex items-center justify-between gap10 flex-wrap">
        <div class="wg-filter flex-grow">
          <form method="get" class="w-auto">
            <div class="show">
              <div class="text-tiny">Showing</div>
              <div class="select">
                <select name="per" onchange="this.form.submit()">
                  <option value="10" <%= 'selected' if params[:per].to_s == '10' %>>10</option>
                  <option value="20" <%= 'selected' if params[:per].to_s == '20' %>>20</option>
                  <option value="30" <%= 'selected' if params[:per].to_s == '30' %>>30</option>
                </select>
              </div>
              <div class="text-tiny">entries</div>
            </div>
          </form>
          <form class="form-search">
            <fieldset class="name">
              <input type="text" placeholder="Search here..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
            </fieldset>
            <div class="button-submit">
              <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
          </form>
        </div>
        <%= link_to new_admin_category_path, class: "tf-button style-1 w208" do %>
        <i class="icon-plus"></i>Add new
        <% end %>
      </div>
      <div class="wg-table table-all-category">
        <ul class="table-title flex gap20 mb-14">
          <li>
            <div class="body-title">Category</div>
          </li>
          <li>
            <div class="body-title">Parent</div>
          </li>
          <li>
            <div class="body-title">Action</div>
          </li>
        </ul>
        <ul class="flex flex-column">
          <% @categories.each do |category| %>
          <li class="wg-product item-row gap20">
            <div class="name">
              <div class="title line-clamp-2 mb-0">
                <a href="#" class="body-text"><%= category.name %></a>
              </div>
            </div>
            <div class="body-text text-main-dark mt-4"><%= category.full_path || '' %></div>
            <div class="list-icon-function">
              <div class="item edit">
                <%= link_to edit_admin_category_path(category) do %>
                <i class="icon-edit-3"></i>
                <% end %>
              </div>
              <div class="item trash">
                <%= link_to admin_category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="icon-trash-2"></i>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing <%= @categories.size %> of <%= @categories.total_count %> entries</div>
        <ul class="wg-pagination">
          <li class="<%= 'disabled' unless @categories.prev_page %>">
            <% if @categories.prev_page %>
              <%= link_to url_for(page: @categories.prev_page), class: "" do %>
                <i class="icon-chevron-left"></i>
              <% end %>
            <% else %>
              <span><i class="icon-chevron-left"></i></span>
            <% end %>
          </li>

          <% (1..@categories.total_pages).each do |page| %>
            <li class="<%= 'active' if page == @categories.current_page %>">
              <% if page == @categories.current_page %>
                <a class="disabled">
                  <%= page %><!-- Ou qualquer ícone que quiser -->
                </a>
              <% else %>
                <%= link_to page, url_for(page: page, per: params[:per]) %>
              <% end %>
            </li>
          <% end %>

          <li class="<%= 'disabled' unless @categories.next_page %>">
            <% if @categories.next_page %>
              <%= link_to url_for(page: @categories.next_page), class: "" do %>
                <i class="icon-chevron-right"></i>
              <% end %>
            <% else %>
              <span><i class="icon-chevron-right"></i></span>
            <% end %>
          </li>
          </ul>
      </div>
    </div>
    <!-- /all-category -->
  </div>
  <!-- /main-content-wrap -->
</div>