<!-- filepath: app/views/admin/categories/show.html.erb -->
<h1><%= @category.name %></h1>

<p><strong>Full Path:</strong> <%= @category.full_path %></p>
<p><strong>Parent:</strong> <%= @category.parent&.name || "Root" %></p>
<p><strong>Subcategories:</strong>
  <% if @category.subcategories.any? %>
    <ul>
      <% @category.subcategories.each do |sub| %>
        <li><%= sub.name %></li>
      <% end %>
    </ul>
  <% else %>
    None
  <% end %>
</p>

<%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-warning" %>
<%= link_to "Back", admin_categories_path, class: "btn btn-secondary" %>