<!-- filepath: app/views/admin/products/_form.html.erb -->

<%= form_with model: @product, url: admin_products_path, local: true do |form| %>
  <div class="wg-box mb-30">
    <fieldset>
      <div class="body-title mb-10">Upload images</div>
      <div class="upload-image mb-16">
        <div class="up-load">
          <label class="uploadfile" for="myFile">
            <span class="icon">
              <i class="icon-upload-cloud"></i>
            </span>
            <div class="text-tiny">Drop your images here or select 
              <span class="text-secondary">click to browse</span>
            </div>
            <input type="file" id="myFile" name="filename">
            <img src="" id="myFile-input" alt="">
          </label>
        </div>
        <div class="flex gap20 flex-wrap">
          <div class="item">
            <img src="images/upload/img-1.jpg" alt="">
          </div>
          <div class="item">
            <img src="images/upload/img-2.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="body-text">You need to add at least 4 images. 
                             Pay attention to the quality of the pictures you add, 
                             comply with the background color standards. 
                             Pictures must be in certain dimensions. 
                             Notice that the product shows all the details
      </div>
    </fieldset>
  </div>
  <div class="wg-box mb-30">
    <fieldset class="name">
      <div class="body-title mb-10">Product title <span class="tf-color-1">*</span></div>
      <input class="mb-10" type="text" 
                           placeholder="Enter title" 
                           name="text" 
                           tabindex="0" 
                           value="" 
                           aria-required="true" 
                           required="">
      <div class="text-tiny text-surface-2">Do not exceed 20 characters when entering the product name.</div>
    </fieldset>
    <fieldset class="category">
      <div class="body-title mb-10">Category <span class="tf-color-1">*</span></div>
      <div class="select">
        <%= form.select :category_id, category_options, { prompt: "Choose category" }, class: "" %>
      </div>
    </fieldset>
    <fieldset class="storage">
      <div class="body-title mb-10">Storage <span class="tf-color-1">*</span></div>
      <div class="select">
        <%= form.select :storage_id, storage_options, { prompt: "Choose storage" }, class: "" %>
      </div>
    </fieldset>
    <div class="cols-lg gap22">
      <fieldset class="price">
        <div class="body-title mb-10">Price <span class="tf-color-1">*</span></div>
        <input class="" type="number" 
                        placeholder="Price" 
                        name="text" 
                        tabindex="0" 
                        value="" 
                        aria-required="true" 
                        required="">
      </fieldset>
      <fieldset class="variant-picker-item">
        <div class="variant-picker-label body-title">
          Color: <span class="variant-picker-label-value"><%= color_options.first&.name %></span>
        </div>
        <div class="variant-picker-values">
          <% color_options.each do |color| %>
            <%= form.radio_button :color_id, color.id, id: "color-#{color.id}" %>
            <label class="radius-60" for="color-<%= color.id %>" data-value="<%= color.name %>">
              <span class="btn-checkbox" style="background-color: <%= color.hex %>"></span>
            </label>
          <% end %>
        </div>
      </fieldset>
      <fieldset class="category">
        <div class="body-title mb-10">Stock</div>
        <input class="" type="text" placeholder="Enter Stock" name="text" tabindex="0" value="" aria-required="true">
      </fieldset>
    </div>
    <fieldset class="description">
      <div class="body-title mb-10">Description <span class="tf-color-1">*</span></div>
      <textarea class="mb-10" name="description" 
                              placeholder="Short description about product" 
                              tabindex="0" 
                              aria-required="true" 
                              required="">
      </textarea>
      <div class="text-tiny">Do not exceed 100 characters when entering the product name.</div>
    </fieldset>
  </div>

  <div class="cols gap10 flex">
    <button class="tf-button w380" type="submit">Add product</button>
    <a href="#" class="tf-button style-3 w380" type="submit">Cancel</a>
  </div>
<% end %>