<div class="main-content-inner">
  <%= render 'layouts/flash' %>
  <!-- main-content-wrap -->
  <div class="main-content-wrap">
    <div class="flex items-center flex-wrap justify-between gap20 mb-30">
      <h3>All Products</h3>
      <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
        <li>
          <a href="index.html">
            <div class="text-tiny">Dashboard</div>
          </a>
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">
            <div class="text-tiny">Product</div>
          </a>
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <div class="text-tiny">All Products</div>
        </li>
      </ul>
    </div>
    <!-- product-list -->
    <div class="wg-box">
      <div class="flex items-center justify-between gap10 flex-wrap">
        <div class="wg-filter flex-grow">
          <div class="show">
            <div class="text-tiny">Showing</div>
            <div class="select">
              <select class="">
                <option>10</option>
                <option>20</option>
                <option>30</option>
              </select>
            </div>
            <div class="text-tiny">entries</div>
          </div>
          <form class="form-search">
            <fieldset class="name">
              <input type="text" placeholder="Search here..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
            </fieldset>
            <div class="button-submit">
              <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
          </form>
        </div>
        <%= link_to new_admin_product_path, class: "tf-button style-1 w208" do %>
        <i class="icon-plus"></i>Add new
        <% end %>
      </div>
      <div class="wg-table table-product-list">
        <ul class="table-title flex gap20 mb-14">
          <li>
            <div class="body-title">Product</div>
          </li>
          <li>
            <div class="body-title">Product ID</div>
          </li>
          <li>
            <div class="body-title">Price</div>
          </li>
          <li>
            <div class="body-title">Quantity</div>
          </li>
          <li>
            <div class="body-title">Stock</div>
          </li>
          <li>
            <div class="body-title">Start date</div>
          </li>
          <li>
            <div class="body-title">Action</div>
          </li>
        </ul>
        <ul class="flex flex-column">
          <% @products.each do |product| %>
            <li class="wg-product item-row gap20">
              <div class="name">
                <div class="title line-clamp-2 mb-0">
                  <%= link_to product.name, admin_product_path(product), class: "body-text" %>
                </div>
              </div>
              <div class="body-text text-main-dark mt-4">#<%= product.id[0,8] %></div>
              <div class="body-text text-main-dark mt-4"><%= number_to_currency(product.price) %></div>
              <div class="body-text text-main-dark mt-4"><%= product.stock.sum(:quantity) %></div>
              <div>
                <% if product.in_stock? %>
                  <div class="block-available bg-1 fw-7">In Stock</div>
                <% else %>
                  <div class="block-stock bg-1 fw-7">Out of stock</div>
                <% end %>
              </div>
              <div class="body-text text-main-dark mt-4"><%= product.created_at.strftime("%d/%m/%Y") %></div>
              <div class="list-icon-function">
                <div class="item eye">
                  <%= link_to admin_product_path(product) do %>
                    <i class="icon-eye"></i>
                  <% end %>
                </div>
                <div class="item edit">
                  <%= link_to edit_admin_product_path(product) do %>
                    <i class="icon-edit-3"></i>
                  <% end %>
                </div>
                <div class="item trash">
                  <%= link_to admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="icon-trash-2"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing 10 entries</div>
        <ul class="wg-pagination">
          <li>
            <a href="#"><i class="icon-chevron-left"></i></a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li class="active">
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#"><i class="icon-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /product-list -->
  </div>
  <!-- /main-content-wrap -->
</div>