<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!-- Inclua aqui outros links de CSS/JS do template -->
  </head>
  <body class="preload-wrapper color-primary-9">
    <%= yield %>
  </body>
</html>